
@font-face {
    font-family: gotham-light;
    src: url(./Gotham-Font/Gotham-Light.otf) url(./Gotham-Font/GothamLight.ttf);
}

@font-face {
    font-family: gotham-black;
    src: url(./Gotham-Font/Gotham-Black.otf) url(./Gotham-Font/GothamBold.ttf);
}

body {
    margin: auto;
    color: white;
    background-color: rgb(216,192,208);
    font-family: gotham-light;
}

header {
    display: flex;
    height: 96px;
    justify-content: space-around;
    align-items: center;
    color: rgb(232,156,44);
    background-image: url(../images/headerphoto.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    padding: 50px 125px;
}

nav {
    display: flex;
    font-size: 1em;
    justify-content: space-between;
    align-items: center;
}

nav > a {
    font: 1em;
    padding: 10px;
    margin: 10px;
}

a {
    text-decoration: none;
    color: rgb(232,156,44);
    cursor: pointer;
}

.logo {
    width: 60px;
}
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
}

li {
    list-style-type: none;
    padding: 10px;
}

p{
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .03em;
    line-height: 1.8em;
    text-transform: none;
    color: rgba(0,0,0,.7);
}

h1 {
    font-weight: 800;
    font-style: normal;
    font-size: 8vw;
    letter-spacing: -.05em;
    line-height: .8em;
    margin: 18px 0;
}

h2 {
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    letter-spacing: -.02em;
    line-height: 1em;
    text-transform: none;
    color: #281a17;
}

h3 {
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    letter-spacing: .01em;
    line-height: 1.8em;
    text-transform: uppercase;
    color: rgba(40,26,23,.8);
}

.white {
    color: white;
    margin: 10px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 75px 175px;
}

ul img {
    width: 1em;
    height: auto;
    padding: 5px;
}

hr {
    display: block;
    width: 60vw;
    border-color: rgb(232,156,44);
    margin: 2em auto;
}

.button {
    display: inline-block;
    border: 2px solid rgb(232,156,44);
    color: rgb(232,156,44);
    letter-spacing: .2em;
    background-color: transparent;
    padding: 20px 30px 10px;
    transition: 300ms ease-in;
    margin-top: 15px;
}

.button:hover {
    background-color: rgb(232,156,44);
    color: white;
}

footer {
    display: flex;
    grid-gap: 10vh;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 75px 100px;
}

footer > div {
    background-color:rgb(216,192,208);
    color: white;  
}

footer * a {
    color: white;
}

@media (max-width: 1000px) {
    header {
        height: 60px;
        padding: 30px;
    }
    nav {
        flex-wrap: wrap;
        justify-content: space-around;
      }
    section {
        padding: 4vw;
    }
    article {
        flex-direction: column;
    }
}


@media (max-width: 500px) {
  main {
      flex-direction: column;
      margin: auto;
  }
  header {
      height: 40px;
      padding: 20px;
  }
  nav {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  article {
      flex-direction: column;
  }

  section {
      padding-bottom: 40px;
  }

  h2 {
      font-size: 2em;
  }

  h3 {
      font-size: 1em;
  }

  footer {
      margin: 3vw;
  }

}